  
  <h1><span><%= @current_user.username %></span>'s Tweet App</h1>

    <form action="">
      <label for="">Send a tweet!
        <p>You can type <span>X</span> more characters for this tweet.</p>
        <textarea ></textarea>
      </label>
      <button id="tweet">Tweet it!</button>
    </form>

    <div id ="tweets">
      <img  src="ajax-loader.gif" alt="">

      <ul>

      </ul>
    </div>
